.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.btn-agregar-usuario {
  background-color: #514ef3;
  border-radius: 20px;
  border: none;
}

.btn-detalles {
  width: 146px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(0,0,0);
  font-weight: 700;
  line-height: 30px;
  font-family: Inter, sans-serif;
  border: none;
}

#avatar-logo {
  left: 2%;
  top: 35%;
  width: 8%;
}

.container-reparacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 417px;
  height: calc(100vh - 100px);
}

.btn-diag {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /*margin-top: 20px;*/
  border: none;
  background-color: #092c4c;
  color: white;
  font-size: 24px;
  font-weight: bold;
  max-width: 200px;
  height: auto;
  margin: 20px 20px;
}

.inicio {
  background: repeating-linear-gradient(145deg, black -12%, #7e92a2 105%);
}

